@font-face {
  font-family: "iconfont"; /* Project id 2846497 */
  src: url('//at.alicdn.com/t/font_2846497_pvb6dg8w6rh.woff2?t=1633058584040') format('woff2'),
       url('//at.alicdn.com/t/font_2846497_pvb6dg8w6rh.woff?t=1633058584040') format('woff'),
       url('//at.alicdn.com/t/font_2846497_pvb6dg8w6rh.ttf?t=1633058584040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e63a";
}

.icon-bofangqi-zantingxiaodianshi:before {
  content: "\e6ac";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e6b7";
}

